/Business/obj/Debug
/Business/bin/Debug
/Common/bin/Debug
/Services/bin/Debug
/DataAccess/bin/Debug
/Services/obj/Debug
/Common/obj/Debug/*.cache
/Common/obj/Debug/*.dll
/Common/obj/Debug/*.pdb
/DataAccess/obj/Debug/*.cache
/DataAccess/obj/Debug/*.dll
/DataAccess/obj/Debug/*.pdb
/CsdlHkd.BackEnd/bin
/CsdlHkd.BackEnd/obj/Debug
/ToolPrint/upload
/ToolPrint/Bin
/Business/obj
/Business/bin
/Common/bin
/DataAccess/bin
/Services/bin
/CSDLHKD.AppProcessPrintStatus/bin/Debug
/CSDLHKD.AppProcessPrintStatus/obj/Debug
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/Source/Uploads/Template
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/TempBuildDir/Dependency
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/Source/bin
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/Source/Dependency
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/TempBuildDir/bin
/packages/Aspose.Cells.17.7/lib/net20
/CsdlHkd.BackEnd/obj
/ToolPrint/Bin
/packages/Aspose.Cells.17.7/lib/net40-client
/CsdlHkd.BackEnd/obj/Release/AspnetCompileMerge/TempBuildDir/Uploads/Template
/packages/Aspose.Cells.17.7/lib/net40
/packages/Aspose.Cells.17.7
/CsdlHkd.BackEnd/obj/
/CsdlHkd.BackEnd/obj/Release/Package/PackageTmp/Views/Action
/CsdlHkd.BackEnd/obj/Release/Package/PackageTmp/Uploads/Template
/CsdlHkd.BackEnd/obj/Release/Package/PackageTmp/Views/Account
/CsdlHkd.BackEnd/obj/Release/Package/PackageTmp/Dependency
/Common/obj/Release
/CsdlHkd.BackEnd/obj/Release/Package/PackageTmp/Scripts
/DataAccess/obj/Release
/Services/obj/Release
