@section Css{
    <style>
    #home {
        width: 33.775%;
        height: 0;
        background-size: 100%;
        margin: 20px auto;
        position: relative;
        padding-bottom: 27.316%;
    }

    .moi {
        display: inline-block;
        width: 40%;
        height: 0;
        padding-bottom: 45%;
        position: absolute;
        -webkit-transition: width 2s; /* Safari */
        transition: 0.3s;
    }

        .moi:hover {
            display: inline-block;
            width: 52%;
            height: 0;
            padding-bottom: 45%;
            position: absolute;
            -webkit-transition: width 2s; /* Safari */
            transition: 0.3s;
        }

    .moi1 {
        display: inline-block;
        width: 40%;
        height: 0;
        padding-bottom: 45%;
        position: absolute;
        -webkit-transition: width 2s; /* Safari */
        transition: 0.3s;
    }

        .moi1:hover {
            display: inline-block;
            width: 45%;
            height: 0;
            padding-bottom: 45%;
            position: absolute;
            -webkit-transition: width 2s; /* Safari */
            transition: 0.3s;
        }

    .nhap {
        background: url('../../img/nhap.png') no-repeat;
        top: 10%;
        background-size: 100%;
        left: -34.1%;
        width: 47%;
    }

    .in {
        background: url('../../img/in.png') no-repeat;
        top: 41%;
        background-size: 100%;
        left: 10.8%;
    }

    .footer {
        position: fixed !important;
        bottom: 0;
        width: 100%;
        background-color: #207a82;
        padding: 1rem;
        height: 62px;
    }
</style>
}
<div class="col-md-12 text-center">
    <div id="home">
        <a class="nhap moi" href="http://203.162.253.66:92/NhapPhieuKhaoSat/NhapPhieu"></a>
        <a class="in moi1" href="http://203.162.253.66:91/ChonDonVi.aspx?mu=false"></a>

    </div>
</div>