<!DOCTYPE html>
<html lang="en-us">

<!-- Mirrored from 192.241.236.31/themes/preview/smartadmin/1.8.x/ajax/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Mar 2017 03:58:30 GMT -->
<head>
    <meta charset="utf-8">
    <title>Ứng dụng CSDL HKD</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">

    <!-- DEV links : turn this on when you like to develop directly -->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../Source_UNMINIFIED_CSS/smartadmin-production.css">-->
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../Source_UNMINIFIED_CSS/smartadmin-skins.css">-->
    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <link href="/Js/plugin/datetime-picker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="/js/plugin/toastr/toastr.min.css" rel="stylesheet" />
    <link href="/js/plugin/multidropdown/chosen.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="/./bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/./bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <link href="/css/Css-layout.css" rel="stylesheet"/>

    @if (IsSectionDefined("Css"))
    {
        @RenderSection("Css")
    }
</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #MAIN PANEL               |  main panel                    |
|  13. #MAIN CONTENT             |  content holder                |
|  14. #PAGE FOOTER              |  page footer                   |
|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  16. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->
<!-- #BODY -->
<!-- Possible Classes

    * 'smart-style-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'no-menu'			  - Hides the menu completely
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer' - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body>
    <header>
        <img src="/img/banner.png" alt="SmartAdmin" style="width: 100%;">
        <div id="menu">
            <ul class="col-md-12">
                <li class="col-md-2" style="margin-left: 55px;">

                    <a href="/"><span style="margin: 8px"><i class="glyphicon glyphicon-home" aria-hidden="true" style="margin-left: 14px;"></i>Trang chủ</span></a>
                </li>
                <li>
                    <a href="#" title="Tờ Khai"><span style="margin: 8px"><i class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-left: 14px;"></i>Tờ Khai</span></a>
                    <ul class="sub">
                        <li>
                            <a href="/NhapPhieuKhaoSat/NhapPhieu" title="Nhập tờ khai"><span class="menu-item-parent">Nhập tờ khai</span></a>
                        </li>
                        <li>
                            <a href="/NhapPhieuExcel" title="Đơn vị"><span class="menu-item-parent">Nhập phiếu theo excel</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="Tra cứu"><span style="margin: 8px"><i class="glyphicon glyphicon-search" aria-hidden="true" style="margin-left: 14px;"></i>Tra cứu</span></a>
                    <ul class="sub">
                        <li>
                            <a href="/NhapPhieuKhaoSat" title="Danh sách tờ khai"><span class="menu-item-parent">Danh sách tờ khai</span></a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#" title="Báo cáo"><span style="margin: 8px"><i class="glyphicon glyphicon-bookmark" aria-hidden="true" style="margin-left: 14px;"></i>Báo cáo</span></a>
                </li>
                <li>

                    <a href="#" title="Danh mục"><span style="margin: 8px"><i class="glyphicon glyphicon-th-list" aria-hidden="true" style="margin-left: 14px;"></i>Danh mục</span></a>
                </li>
                <li>

                    <a href="#" title="Hệ thống"><span style="margin: 8px"><i class="glyphicon glyphicon-user" aria-hidden="true" style="margin-left: 14px;"></i>Hệ Thống</span></a>
                </li>
            </ul>
        </div>

    </header>
    <div id="main" role="main">
        <!-- #MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>
        <div id="dialog-form"></div>
        <!-- END #MAIN CONTENT -->


    </div>
    <div class="page-footer">
        <div class="row">
            <p style="text-align: center; color:white; margin-top: -20px;">
                <br>
                <b>CỤC THUẾ THÀNH PHỐ HỒ CHÍ MINH</b>
                <br>
                Địa chỉ: 63 Vũ Tông Phan, Phương An Phú, Quận 2, Thành Phố Hồ Chí Minh
                <br>
                Điện thoại: (08)37 70328 Fax: (08)37 437753 - (08)37 437743
            </p>
        </div>
        <!-- end row -->
    </div>
    @*@Html.Partial("/Views/Partial/_ConfirmForm.cshtml")*@

    <!-- END SHORTCUT AREA -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script>-->
    <!-- #PLUGINS -->
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/libs/jquery-ui-1.10.3.min.js"></script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="/js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM NOTIFICATION -->
    <script src="/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="/js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices: you can disable this in app.js -->
    <script src="/js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    <![endif]-->
    <!-- Demo purpose only -->
    <script src="/js/demo.min.js"></script>

    <!-- MAIN APP JS FILE -->
    <script src="/js/app.min.js"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
    <!-- Voice command : plugin -->
    <script src="/js/speech/voicecommand.min.js"></script>

    <!-- SmartChat UI : plugin -->
    <script src="/js/smart-chat-ui/smart.chat.ui.min.js"></script>
    <script src="/js/smart-chat-ui/smart.chat.manager.min.js"></script>


    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>

    <script src="/js/jquery.blockUI.min.js"></script>
    <script src="/js/plugin/datetime-picker/jquery.datetimepicker.js"></script>
    <script src="/js/plugin/multidropdown/chosen.jquery.min.js"></script>
    <script src="/js/plugin/toastr/toastr.min.js"></script>
    <script src="/js/plugin/globinfo/globalize.js"></script>
    <script src="/js/Global.js"></script>
    <script src="~/js/bootstrap/jquery.metisMenu.js"></script>
    <script src="/js/reset.js"></script>

    @if (IsSectionDefined("Script"))
    {
        @RenderSection("Script")
    }


</body>

</html>
